// -------------------------------------
//   Settings
// -------------------------------------
// ----- @Font-Face Declarations, Variables
// -------------------------------------

// -------------------------------------
//   @font-face
// -------------------------------------

@charset "UTF-8";

@font-face {
  font-family: "enve";
  src:url("../fonts/enve.eot");
  src:url("../fonts/enve.eot?#iefix") format("embedded-opentype"),
    url("../fonts/enve.woff") format("woff"),
    url("../fonts/enve.ttf") format("truetype"),
    url("../fonts/enve.svg#enve") format("svg");
  font-weight: normal;
  font-style: normal;
}

// -------------------------------------
//   Variables
// -------------------------------------

// ----- Colors ----- //

$link-color:        #;
$link-hover:        #;  

$black:             #000;
$white:             #fff;

$primary:           #000;
$secondary:         #fff;

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

// ----- Type ----- //

$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;
$reg-font:          "";
$bold-font:         "";
$italic-font:       "";

// ----- Grid ----- //

$max-width:         ;