// -------------------------------------
//   Body Wrappers
// -------------------------------------
// ----- Body Layout Styles
// -------------------------------------

%section {
	margin-top: u(rem($margin-top));
	margin-bottom: u(rem($margin-bottom));
	>*:first-child {
		margin-top: 0 !important;
	}  
}

%wrapper {
	@include center( u(rem(1024)), u(rem(10)) );
	// -- Min Width @ $tablet
	@media #{$tablet} {
		@include center( u(rem(1024)), u(rem(20)) );
	}
}

main[role="main"] {
	@extend %wrapper;
}

aside[role="complementary"] {
	
}

article[role="article"] {

}

section[role="main"] { 
	@extend %section;
}

section[role="region"] {
	@extend %section;
}

.section {
	@extend %section;
}

.wrapper {
	@extend %wrapper;
}

.body {
	position: relative;
}





// -------------------------------------
//   States
// -------------------------------------




