// -------------------------------------
//   Form Bits
// -------------------------------------
// ----- Styles for Form Elements
// -------------------------------------

input, select, textarea {
	height: u(rem(40));
	padding: u(rem(10));
	border: u(rem(1)) solid $secondary-lighter;
	border-radius: u(rem($border-radius));
	font: inherit;
	vertical-align: top;
	line-height: 1;
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	@include font-size(16);
	&:focus {
		outline: 0;
		border-color: $secondary-light;
	}
}






// -------------------------------------
//   Form States
// -------------------------------------
