// -------------------------------------
//   List Bits
// -------------------------------------
// ----- Styles for UL's, OL's, & LI's
// -------------------------------------

.list-ui {
	list-style-type: none; 
	padding: 0;
	margin: 0;
}

.list-ui__item {
	display: inline-block;
}

// -------------------------------------
//   List States
// -------------------------------------
