// -------------------------------------
//   Typography
// -------------------------------------
// ----- Fonts and Colors
// -------------------------------------

// -- Font Faces declared in _utilities/_settings.scss

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal; 
}

h1, %h1 {
  @include font-size(38); 
}

h2, %h2 {
  @include font-size(32);
}

h3, %h3 {
  @include font-size(26);
}

h4, %h4 {
  @include font-size(22);
}

h5, %h5 {
  @include font-size(18);
}

h6, %h6 {
  @include font-size(13); 
}

a {
  color: $link-color;
  // text-decoration: none;
  transition: all .5s ease-in-out;
  &:hover, &:active {
    color: $link-hover;
  }
}

p {

}

em {

}

strong {

}

small {

}








