// -------------------------------------
//   Settings
// -------------------------------------
// ----- @Font-Face Declarations, Variables
// -------------------------------------

// -------------------------------------
//   @font-face
// -------------------------------------

@charset "UTF-8";


// -------------------------------------
//   Variables
// -------------------------------------

// -- Colors 

$black:             #000;
$white:             #fff;

//$primary:         #;
//$primary-light:   #;
//$secondary:       #;
//$secondary-light: #;

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

//$link-color:      #;
//$link-hover:      #;
//$text-color:      #;  


// -- Type 

$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;
$reg-font:          "";
$bold-font:         "";
$italic-font:       "";


// -- Media Queries

$max-width:         1220;

$small-mobile:      480;
$medium-mobile:     700;
$tablet:            900;
$small-desktop:     1042;
$desktop:           $max-width;
$large-desktop:     1400;
