// -------------------------------------
//   Settings
// -------------------------------------
// ----- @Font-Face Declarations, Variables
// -------------------------------------

// -------------------------------------
//   @font-face
// -------------------------------------

@charset "UTF-8";



// -------------------------------------
//   Variables
// -------------------------------------

// ----- Colors ----- //

//$link-color:        #;
//$link-hover:        #;  

$black:             #000;
$white:             #fff;

//$primary:           #;
//$secondary:         #;

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

// ----- Type ----- //

$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;
$reg-font:          "";
$bold-font:         "";
$italic-font:       "";

// ----- Grid ----- //

//$max-width:         #;