// OLD IE
// Styles that target IE8 and below
// -----------------------------------

// -- http://geoffgraham.me/mobile-first-sass-for-internet-explorer/

$old-ie: false !default;

@mixin old-ie {
    // Only use this content if we're dealing with old IE
    @if $old-ie {
        @content;
    }
}