// -------------------------------------
//   Typography
// -------------------------------------
// ----- Fonts and Colors
// -------------------------------------

// -- Font Faces declared in utilities/_settings.scss

h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  font-weight: normal; 
  font-family: $reg-font;
}

h1, %h1{
  @include rem(font-size, 40px);
}

h2, %h2{
  @include rem(font-size, 36px);
}

h3, %h3{
  @include rem(font-size, 34px);
}

h4, %h4{
  @include rem(font-size, 30px);
}

h5, %h5{
  @include rem(font-size, 13px);
}

h6, %h6{
  @include rem(font-size, 13px);
}

p {
  padding:0;
}

a {
  padding:0;
}

b {
  padding:0;
}

em {
  padding:0;
}


// -------------------------------------
//   Icon Font
// -------------------------------------

[data-icon]:before {
  font-family: "enve" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "enve" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-1:before {
  content: "q";
}
.icon-2:before {
  content: "w";
}
.icon-3:before {
  content: "e";
}
.icon-4:before {
  content: "r";
}
.icon-5:before {
  content: "t";
}
.icon-6:before {
  content: "y";
}
.icon-9:before {
  content: "d";
}
.icon-13:before {
  content: "g";
}
.icon-17:before {
  content: "h";
}
.icon-15:before {
  content: "u";
}
.icon-16:before {
  content: "i";
}
.icon-14:before {
  content: "o";
}
.icon-11:before {
  content: "p";
}
.icon-7:before {
  content: "a";
}
.icon-8:before {
  content: "s";
}
.icon-9:before {
  content: "c";
}
.icon-12:before {
  content: "f";
}
.icon-13:before {
  content: "f";
}
.icon-17:before {
  content: "b";
}
.icon-18:before {
  content: "j";
}
.icon-19:before {
  content: "k";
}
.icon-20:before {
  content: "l";
}


